div {
    border-style: dotted;
    margin-left: 5px;
}

#third>p {
    visibility: visible;
}

h1 {
    visibility: visible;
}

#second {
    visibility: visible;
}

#img {
    visibility: visible;
}

.left>p {
    font-size: 5em;
}